<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="MyAppium_Project.AppTest"/>
      <class name="MyAppium_Project.Appium_BaseClass"/>
      <class name="MyAppium_Project.Login_Goibigo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
